body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    @media @mobile {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: @main-overlay;
    z-index: 1;
    opacity: 0.85;

    @media @mobile {

        height: 100%;
        width: 100%;
    }
}

.header-content {
    position: relative;
    top: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    @media @mobile {
        margin-top: 5%;
    }

    h1 {
        .primary-H1()
    }

    p {
        .primary-Para()
    }

    a {
        .primary-Anchor()
    }

    a:hover {
        background: @secondary;
        color: @basic;
        border: 1px solid @primary;
    }

    @media @mobile {

        p {
            .primary-Para();
            text-align: center;
            // border: 1px solid red;
        }
    }// Mobile Media
   }// Header-Contet

   .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

        @media @mobile {

            main.fullscreen-video-wrap {
                background-image: url('../assets/mobile_bg2.jpeg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 100vh;
            }
        }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // display: none;
    }

    @media @mobile {
        video {
            // display: none;
        } 


    }// Mobile Media
}// Fullscreen Video Wrap